
body {
	background: #8DC73F;
}

#doc2 {
	margin: 0 auto;
	padding: 0 0 1.4em;
	background: #fff;
	width: 760px;
	border: 2px solid #8DC73F;
}

.yui-u {
	margin: 0;
	padding: 0;
}

.yui-g {
	abackground: #fcc;
	margin: 0;
	padding: 0;
}

#hd {
}

#ft {
	margin: 0.6em 1em;
	padding: 0.4em 0.6em;
}

#step1, #step2 {
	border: 2px solid #8DC73F;
	border-width: 0 2px;
	margin: 0 0 0 12px;
	padding: 8px 6px;
	width: 458px;
}

#step2 {
	border-width: 0 2px 2px;
}

#step1Details {
	border: 2px solid #8DC73F;
	border-width: 0 2px 2px;
	margin: 0 0 0 12px;
	padding: 8px 6px;
	width: 458px;
}

#step1 h1, #step2 h1 {
	text-align: right;
	font-family: Tahoma;
	color: #56AB40;
	font-weight: bold;
	font-style: italic;
	background: #E6F2D5;
	margin: -8px -8px 8px;
	padding: 4px 8px;
	border-bottom: 2px solid #8DC73F;
}

#selectEventContainer select {
	border: 1px solid #8DC73F;
	background: #F0F7E6;
	width: 100%;
	padding: 2px;
}

#selectEventContainer label {
	margin: 0 0 0.4em;
	padding: 0;
	font-size: 1.6em;
	color: #55AA40;
	font-family: Tahoma;
	display: block;
}

#mapContainer {
	border: 2px solid #8DC73F;
	margin: 0;
	padding: 0;
	width: 378px;
	height: 368px;
}

